---
# Client Installation and Configuration (OpenMessaging Benchmark)

- name: Install Maven
  yum:
    name:
      - maven
      - git
    state: present

- name: Clone OpenMessaging Benchmark repository
  git:
    repo: 'https://github.com/openmessaging/benchmark.git'
    dest: /opt/openmessaging-benchmark
    version: master
    force: yes

- name: Build OpenMessaging Benchmark
  shell: mvn clean install -DskipTests
  args:
    chdir: /opt/openmessaging-benchmark
    creates: /opt/openmessaging-benchmark/benchmark-framework/target

- name: Create benchmark results directory
  file:
    path: /opt/benchmark-results
    state: directory
    mode: '0755'

- name: Create Pulsar driver configuration directory
  file:
    path: /opt/benchmark-configs
    state: directory
    mode: '0755'

- name: Configure Pulsar driver
  template:
    src: pulsar-driver.yaml.j2
    dest: /opt/benchmark-configs/pulsar-driver.yaml
    mode: '0644'

- name: Create benchmark wrapper script
  template:
    src: run-benchmark.sh.j2
    dest: /usr/local/bin/run-benchmark
    mode: '0755'

- name: Download Pulsar client tools
  get_url:
    url: "https://archive.apache.org/dist/pulsar/pulsar-{{ pulsar_version }}/apache-pulsar-{{ pulsar_version }}-bin.tar.gz"
    dest: "/tmp/apache-pulsar-{{ pulsar_version }}-bin.tar.gz"
    timeout: 300

- name: Extract Pulsar client tools
  unarchive:
    src: "/tmp/apache-pulsar-{{ pulsar_version }}-bin.tar.gz"
    dest: /opt
    remote_src: yes
    creates: /opt/apache-pulsar-{{ pulsar_version }}
