[Unit]
Description=Apache Pulsar Broker
After=network.target

[Service]
Type=simple
User=root
Environment="PULSAR_LOG_DIR=/var/log/pulsar"
ExecStart=/opt/pulsar/bin/pulsar broker
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
