---
# Main Deployment Playbook for Pulsar Cluster

- name: Deploy Pulsar Cluster
  hosts: all
  become: yes
  gather_facts: yes

  tasks:
    - name: Install common dependencies
      yum:
        name:
          - java-11-amazon-corretto
          - wget
          - tar
          - vim
          - htop
          - sysstat
          - net-tools
        state: present

    - name: Disable SELinux
      selinux:
        state: disabled
      when: ansible_selinux.status != "disabled"

    - name: Set timezone
      timezone:
        name: UTC

- name: Configure ZooKeeper
  hosts: zookeeper
  become: yes
  roles:
    - zookeeper

- name: Configure BookKeeper
  hosts: bookkeeper
  become: yes
  roles:
    - bookkeeper

- name: Configure Brokers
  hosts: broker
  become: yes
  roles:
    - broker

- name: Configure Clients
  hosts: client
  become: yes
  roles:
    - client

- name: Initialize Pulsar Cluster
  hosts: zookeeper[0]
  become: yes
  tasks:
    - name: Initialize cluster metadata
      shell: |
        /opt/pulsar/bin/pulsar initialize-cluster-metadata \
          --cluster {{ pulsar_cluster_name }} \
          --zookeeper {{ groups['zookeeper'] | map('extract', hostvars, ['ansible_host']) | join(':2181,') }}:2181 \
          --configuration-store {{ groups['zookeeper'] | map('extract', hostvars, ['ansible_host']) | join(':2181,') }}:2181 \
          --web-service-url http://{{ groups['broker'][0] }}:8080 \
          --broker-service-url pulsar://{{ groups['broker'][0] }}:6650
      args:
        creates: /var/lib/pulsar/cluster-initialized

    - name: Mark cluster as initialized
      file:
        path: /var/lib/pulsar/cluster-initialized
        state: touch
